.idea/
.env
node_modules/

# ignore everything in the wp-content folder
# except specific themes/plugins
wp-content/*
!wp-content/plugins/
!wp-content/themes/
wp-content/plugins/*
wp-content/themes/*
!wp-content/plugins/dev-plugin.php
!wp-content/plugins/dev-plugin/
!wp-content/plugins/contact-plugin.php
!wp-content/plugins/contact-plugin/
!wp-content/themes/dev-theme/
