body {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Make the body take up the full height of the viewport */
  margin: 0;
}

header,
footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px;
}

main {
  flex: 1; /* Make the main content take up the remaining space */
}
