body {
  display: grid;
  grid-template-rows: auto 1fr 30px;
  min-height: 100vh;
  margin: 0;
}

header,
footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px;
}

#nav-wrapper {
  height: 60px;
}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0;
  margin: auto;
}

nav ul li {
  display: inline-block;
  text-decoration: none;
  padding: 20px;
}
nav ul li a {
  text-decoration: none;
}

a.anchor {
  display: block;
  position: relative;
  top: -100px;
  visibility: hidden;
}

main {
  flex: 1; /* Make the main content take up the remaining space */
  display: flex;
  flex-direction: column;
  align-items: center; /* cross-axis */
}

section {
  background-color: green;
  margin: 20px;
  padding: 20px;
  width: 80%;
  max-width: 600px;
  height: 1000px;
}
