body {
  display: grid;
  grid-template-rows: auto 1fr 30px;
  min-height: 100vh;
  margin: 0;
  background-color: #efe;
  color: #333;
}

header,
footer {
  padding-top: 10px;
  background-color: #333;
  color: white;
  text-align: center;
}

#nav-wrapper {
  height: 60px;
}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0;
  margin: auto;
  box-shadow: rgba(0, 0, 0, 0.6) 0px 8px 8px -2px;
}

nav ul li {
  display: inline-block;
  text-decoration: none;
  padding: 20px 0px;
}
nav ul li a {
  text-decoration: none;
  color: white;
  padding: 20px 30px;
}
nav ul li a:hover,
nav ul li a:focus {
  background-color: #222;
}

a.anchor {
  display: block;
  position: relative;
  top: -100px;
  visibility: hidden;
}

main {
  flex: 1; /* Make the main content take up the remaining space */
  display: flex;
  flex-direction: column;
  align-items: center; /* cross-axis */
}

section {
  background-color: #dcffcd;
  margin: 20px;
  padding: 0px;
  width: 80%;
  max-width: 600px;
  height: 1000px;
  box-shadow:
    rgba(0, 0, 0, 0.3) 0px 0px 8px -1px,
    rgba(0, 0, 0, 0.1) 4px 4px 2px -2px;
  border-radius: 5px;
}
section .section-header {
  padding: 0px 20px;
  background: #aef1ae;
}
section .section-header h2 {
  padding: 0px 20px 0px 0px;
  margin: 20px 0px 0px 0px;
  /* text-transform: lowercase; */
}
section .section-content {
  padding: 20px;
}
